<div class="detail-section">
  <div class="detail pour-point">
    <strong>Pour Point:</strong>

    {{#each oil.pourPoint as |pp|}}
      <span class="badge badge-dark">
        {{pp}}
      </span>
    {{else}}
      No Values
    {{/each}}
  </div>

  <div class="detail dvis">
    <strong>Dynamic Viscosity:</strong>
    {{#each oil.dvis as |dvis|}}
      <span class="badge badge-dark">
        {{value-unit dvis.viscosity 3}}
        @
        {{value-unit dvis.ref_temp 2}}
      </span>
    {{else}}
      No Values
    {{/each}}
  </div>

  <div class="detail kvis">
    <strong>Kinematic Viscosity:</strong>
    {{#each oil.kvis as |kvis|}}
      <span class="badge badge-dark">
        {{value-unit kvis.viscosity 3}}
        @
        {{value-unit kvis.ref_temp 2}}
      </span>
    {{else}}
      No Values
    {{/each}}
  </div>
</div>
