<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-physical-tab" href="#nav-physical" aria-controls="nav-physical"
       data-toggle="tab" role="tab" aria-selected="true">
      Physical Properties
    </a>
    <a class="nav-item nav-link" id="nav-distillation-tab" href="#nav-distillation" aria-controls="nav-distillation"
       data-toggle="tab" role="tab" aria-selected="false">
      Distillation Cuts
    </a>
    <a class="nav-item nav-link" id="nav-composition-tab" href="#nav-composition" aria-controls="nav-composition"
       data-toggle="tab" role="tab" aria-selected="false">
      Composition
    </a>
    <a class="nav-item nav-link" id="nav-environmental-tab" href="#nav-environmental" aria-controls="nav-environmental"
       data-toggle="tab" role="tab" aria-selected="false">
      Environmental Behavior
    </a>
    <a class="nav-item nav-link" id="nav-ccme-tab" href="#nav-ccme" aria-controls="nav-ccme"
       data-toggle="tab" role="tab" aria-selected="false">
      CCME
    </a>
  </div>
</nav>


<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade active show" id="nav-physical" aria-labelledby="nav-physical-tab" role="tabpanel">
    <TabPane::Physical @oil={{oil}} @weathered={{weathered}}/>
  </div>

  <div class="tab-pane fade active" id="nav-distillation" aria-labelledby="nav-distillation-tab" role="tabpanel">
    {{! class 'active' is necessary for the graph to render properly,
        even if the tab is not initially shown }}
    <TabPane::Distillation @oil={{oil}} @weathered={{weathered}}/>
  </div>

  <div class="tab-pane fade" id="nav-composition" aria-labelledby="nav-composition-tab" role="tabpanel">
    <TabPane::Composition @oil={{oil}} @weathered={{weathered}}/>
  </div>

  <div class="tab-pane fade" id="nav-environmental" aria-labelledby="nav-environmental-tab" role="tabpanel">
    <TabPane::Environmental @oil={{oil}} @weathered={{weathered}}/>
  </div>

  <div class="tab-pane fade" id="nav-ccme" aria-labelledby="nav-ccme-tab" role="tabpanel">
    <TabPane::Ccme @oil={{oil}} @weathered={{weathered}}/>
  </div>
</div>
