<div class="jumbo show-listing">
  <h2 class="title">{{this.model.name}}</h2>

  {{#if this.model.status}}
    <ul>
      {{#each this.model.status as |stat|}}
        <li><i class="status-bad">{{stat}}</i></li>
      {{/each}}
    </ul>
  {{else}}
    <strong>Status:</strong>
    <i class="status-good">Good</i>
  {{/if}}

  <h3>
    {{#link-to "oils"}}
      <span class="list-item-label">
        Back to List
      </span>
    {{/link-to}}
  </h3>

  <div class="content">
    <div class="detail-section">
      <div class="detail id">
        <strong>ID:</strong> {{this.model.id}}
      </div>

      <div class="detail type">
        <strong>Type:</strong>
        {{#if this.model.productType}}
          {{this.model.productType}}
        {{else}}
          None
        {{/if}}
      </div>

      <div class="detail location">
        <strong>Location:</strong>
        {{#if this.model.location}}
           {{this.model.location}}
        {{else}}
          None
        {{/if}}
      </div>

      <div class="detail categories">
        <strong>Categories:</strong>

        {{#each this.model.categories as |category|}}
          <span class="list-item-label">
            {{category}}
          </span>
        {{else}}
          None
        {{/each}}
      </div>

      <div class="detail pour-point">
        <strong>Pour Point:</strong>

        {{#each this.model.pourPoint as |pp|}}
          <span class="list-item-label">
            {{pp}}
          </span>
        {{else}}
          No Values
        {{/each}}
      </div>

      <div class="detail api">
        <strong>API:</strong>

        {{#each this.model.apis as |api|}}
          <span class="list-item-label">
            {{round-relative api.gravity 2}}
          </span>
        {{/each}}

      </div>

      <div class="detail dvis">
        <strong>Dynamic Viscosity:</strong>
        {{#each this.model.dvis as |dvis|}}
          <span class="list-item-label">
            {{value-unit dvis.viscosity 3}}
            @
            {{value-unit dvis.ref_temp 2}}
          </span>
        {{else}}
          No Values
        {{/each}}
      </div>

      <div class="detail kvis">
        <strong>Kinematic Viscosity:</strong>
        {{#each this.model.kvis as |kvis|}}
          <span class="list-item-label">
            {{value-unit kvis.viscosity 3}}
            @
            {{value-unit kvis.ref_temp 2}}
          </span>
        {{else}}
          No Values
        {{/each}}
      </div>
    </div>
  </div>
</div>
