<div class="jumbo show-listing">
  <h2 class="title">{{this.model.name}}</h2>

  {{#if this.model.status}}
    <ul>
      {{#each this.model.status as |stat|}}
        <li><i class="status-bad">{{stat}}</i></li>
      {{/each}}
    </ul>
  {{else}}
    <strong>
      Status: <i class="status-good">OK</i>
    </strong>
  {{/if}}

  <h3>
    {{#link-to "oils"}}
      <span class="list-item-label">
        Back to List
      </span>
    {{/link-to}}
  </h3>

  <div class="content">
    <h3 class="title">General Information</h3>
    <TabGeneral @oil={{this.model}} />
  </div>

  <div class="content">
    <h3 class="title">Density</h3>
    <TabDensity @oil={{this.model}} />
  </div>

  <div class="content">
    <h3 class="title">Viscosity</h3>
    <TabViscosity @oil={{this.model}} />
  </div>

</div>
