<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h2 class="title">{{this.model.name}}</h2>
    </div>

    <div class="col-sm-2">
      <h3>
        {{#link-to "oils"}}
          <span class="badge badge-dark">
            Back to List
          </span>
        {{/link-to}}
      </h3>    
    </div>

  </div>

  <div class="content">
    <TabGeneral @oil={{this.model}} />
  </div>


  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" id="nav-physical-tab" href="#nav-physical" aria-controls="nav-physical"
         data-toggle="tab" role="tab" aria-selected="true">
        Physical Properties
      </a>
      <a class="nav-item nav-link active" id="nav-distillation-tab" href="#nav-distillation" aria-controls="nav-distillation"
         data-toggle="tab" role="tab" aria-selected="false">
        Distillation Cuts
      </a>
      <a class="nav-item nav-link" id="nav-composition-tab" href="#nav-composition" aria-controls="nav-composition"
         data-toggle="tab" role="tab" aria-selected="false">
        Composition
      </a>
      <a class="nav-item nav-link" id="nav-environmental-tab" href="#nav-environmental" aria-controls="nav-environmental"
         data-toggle="tab" role="tab" aria-selected="false">
        Environmental Behavior
      </a>
      <a class="nav-item nav-link" id="nav-ccme-tab" href="#nav-ccme" aria-controls="nav-ccme"
         data-toggle="tab" role="tab" aria-selected="false">
        CCME
      </a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-physical" aria-labelledby="nav-physical-tab" role="tabpanel">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <Table::Density @oil={{this.model}} class="row"/>
          </div>

          <div class="col-lg-5">
            <Table::Ift @oil={{this.model}} class="row"/>
          </div>

          <div class="col-lg-5">
            <Table::KinematicViscosity @oil={{this.model}} class="row"/>
          </div>

          <div class="col-lg-5">
            <Table::DynamicViscosity @oil={{this.model}} class="row"/>
          </div>

          <div class="col-lg-5">
            <TabPourPoint @oil={{this.model}} class="row"/>
          </div>

          <div class="col-lg-5">
            <TabFlashPoint @oil={{this.model}} class="row"/>
          </div>

          <div class="col-lg-5">
            <Table::Adhesion @oil={{this.model}} class="row"/>
          </div>

          <div class="col-lg-5">
            {{! Placeholder div so that the last container lines up
                with the first column.  Only necessary for an odd number
                of containers }}
          </div>

        </div>
      </div>
    </div>

    <div class="tab-pane fade show active" id="nav-distillation" aria-labelledby="nav-distillation-tab" role="tabpanel">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <Table::Distillation @oil={{this.model}} class="row"/>
          </div>

          <div class="col-lg-5">
            <strong>Distillation Graph:</strong>

            <Graph::Distillation @oil={{this.model}} class="row"/>
          </div>

        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-composition" aria-labelledby="nav-composition-tab" role="tabpanel">
      <div class="container">
        <div class="row">
          <Table::Water @oil={{this.model}} class="col-3"/>

          <Table::Wax @oil={{this.model}} class="col-3"/>

          <Table::Sulfur @oil={{this.model}} class="col-3"/>
        </div>

        <div class="row">
          <Table::Sara @oil={{this.model}} class="col-4"/>

          <Table::Conradson @oil={{this.model}} class="col-4"/>
        </div>

        <div class="row">
          <Table::Benzene @oil={{this.model}} class="col-3"/>

          <Table::BenzeneBtex @oil={{this.model}} class="col-6"/>
        </div>

        <div class="row">
          <Table::BenzeneC4c6 @oil={{this.model}} class="col-12"/>
        </div>

        <div class="row">
          <Table::AlkylatedPah @oil={{this.model}} class="col-12"/>
        </div>

        <div class="row">
          <Table::Alkane @oil={{this.model}} class="col-12"/>
        </div>

        <div class="row">
          <Table::Chromatography @oil={{this.model}} class="col-12"/>
        </div>

        <div class="row">
          <Table::Headspace @oil={{this.model}} class="col-10"/>
        </div>

        <div class="row">
          <Table::Biomarkers @oil={{this.model}} class="col-12"/>
        </div>

      </div>
    </div>
    <div class="tab-pane fade" id="nav-environmental" aria-labelledby="nav-environmental-tab" role="tabpanel">
      <div class="container">

        <div class="row">
          <Table::ChemicalDispersibility @oil={{this.model}} class="col-4"/>

          <Table::Toxicity @oil={{this.model}} class="col-5"/>

          <Table::EvaporationEqs @oil={{this.model}} class="col-5"/>
        </div>

      </div>

    </div>
    <div class="tab-pane fade" id="nav-ccme" aria-labelledby="nav-ccme-tab" role="tabpanel">
      <div class="container">
        <div class="row">
          <Table::Ccme @oil={{this.model}} class="col-5"/>
        </div>

        <div class="row">
          <Table::CcmeF1 @oil={{this.model}} class="col-12"/>
        </div>

        <div class="row">
          <Table::CcmeF2 @oil={{this.model}} class="col-12"/>
        </div>

        <div class="row">
          <Table::CcmeTph @oil={{this.model}} class="col-12"/>
        </div>
      </div>

    </div>
  </div>



</div>
