<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h2 class="title">{{this.model.name}}</h2>
    </div>

    <div class="col-sm-2">
      <h3>
        {{#link-to "oils"}}
          <span class="badge badge-dark">
            Back to List
          </span>
        {{/link-to}}
      </h3>    
    </div>

  </div>

  {{#if this.model.status}}
    <ul>
      {{#each this.model.status as |stat|}}
        <li><i class="status-bad">{{stat}}</i></li>
      {{/each}}
    </ul>
  {{else}}
    <strong>
      Status: <i class="status-good">OK</i>
    </strong>
  {{/if}}

  <div class="content">
    <h3 class="title">General Information</h3>
    <TabGeneral @oil={{this.model}} />
  </div>


  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-physical-tab" href="#nav-physical" aria-controls="nav-physical"
         data-toggle="tab" role="tab" aria-selected="true">
        Physical Properties
      </a>
      <a class="nav-item nav-link" id="nav-distillation-tab" href="#nav-distillation" aria-controls="nav-distillation"
         data-toggle="tab" role="tab" aria-selected="false">
        Distillation Cuts
      </a>
      <a class="nav-item nav-link" id="nav-composition-tab" href="#nav-composition" aria-controls="nav-composition"
         data-toggle="tab" role="tab" aria-selected="false">
        Composition
      </a>
      <a class="nav-item nav-link" id="nav-environmental-tab" href="#nav-environmental" aria-controls="nav-environmental"
         data-toggle="tab" role="tab" aria-selected="false">
        Environmental Behavior
      </a>
      <a class="nav-item nav-link" id="nav-ccme-tab" href="#nav-ccme" aria-controls="nav-ccme"
         data-toggle="tab" role="tab" aria-selected="false">
        CCME
      </a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-physical" aria-labelledby="nav-physical-tab" role="tabpanel">
      our physical properties...    
      <div class="container-fluid">
        <h3 class="title">Density</h3>
        <TabDensity @oil={{this.model}} class="row"/>

        <div class="row">
          <h3 class="title">Viscosity</h3>
          <TabViscosity @oil={{this.model}} />
        </div>
      </div>
    
    </div>
    <div class="tab-pane fade" id="nav-distillation" aria-labelledby="nav-distillation-tab" role="tabpanel">
      our distillation...
    </div>
    <div class="tab-pane fade" id="nav-composition" aria-labelledby="nav-composition-tab" role="tabpanel">
      our composition...
    </div>
    <div class="tab-pane fade" id="nav-environmental" aria-labelledby="nav-environmental-tab" role="tabpanel">
      our environmental behavior...
    </div>
    <div class="tab-pane fade" id="nav-ccme" aria-labelledby="nav-ccme-tab" role="tabpanel">
      our CCME...
    </div>
  </div>



</div>
