<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h2 class="title">{{this.model.name}}</h2>
    </div>

    <div class="col-sm-2">
      <h3>
        {{#link-to "oils"}}
          <span class="badge badge-dark">
            Back to List
          </span>
        {{/link-to}}
      </h3>    
    </div>

  </div>

  {{#if this.model.status}}
    <ul>
      {{#each this.model.status as |stat|}}
        <li><i class="status-bad">{{stat}}</i></li>
      {{/each}}
    </ul>
  {{else}}
    <strong>
      Status: <i class="status-good">OK</i>
    </strong>
  {{/if}}

  <div class="content">
    <h3 class="title">General Information</h3>
    <TabGeneral @oil={{this.model}} />
  </div>

  <div class="content">
    <h3 class="title">Density</h3>
    <TabDensity @oil={{this.model}} />
  </div>

  <div class="content">
    <h3 class="title">Viscosity</h3>
    <TabViscosity @oil={{this.model}} />
  </div>

</div>
