<div class="detail-section">
  <div class="table-responsive">
    <strong>Density:</strong>


    <table class="table table-hover table-bordered">
      <thead class="clickable" data-toggle="collapse"
             data-target=".density-row-collapse"
             aria-controls="density-tbody density-placeholder"
             aria-expanded="false">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Density</th>
          <th scope="col">Temperature</th>
          <th scope="col">Weathering</th>
        </tr>
      </thead>
      <tbody id="density-tbody" class="collapse density-row-collapse">
        {{#each oil.densities as |density index|}}
          <tr>
            <th scope="row">{{index}}</th>
            <td>{{value-unit density.density 2}}</td>
            <td>{{value-unit density.ref_temp 2}}</td>
            <td>{{density.weathering}}</td>
          </tr>
        {{else}}
          No Values
        {{/each}}
      </tbody>
      <tbody id="density-placeholder" class="collapse show density-row-collapse">
        <tr>
          <th scope="row">&#x2026;</th>
        </tr>
      </tbody>
    </table>

  </div>


</div>
